<div class="c-post-pagination">
    {{#if prev}}
        <a class="c-post-pagination__item" href="{{page_url prev}}">
            &larr; 上一頁
        </a>
    {{/if}}

    {{#if next}}
        <a class="c-post-pagination__item c-post-pagination__item--older" href="{{page_url next}}">
            下一頁 &rarr;
        </a>
    {{/if}}
</div>
