{{!< default}}
<div class="c-page-title">
    <h1 class="c-page-title__heading">
        錯誤
    </h1>
</div>

<div class="c-error-message">
    此頁不存在..<br/>
    <a href="{{@blog.url}}" title="Go Home">按此返回首頁。</a>
</div>
